.board-container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.game-board {
    width: 350px;
    height: 350px;
    /* border: 2px black solid; */
}

.game-board td {
    border-radius: 15px;
    background-color: rgb(218, 218, 218);
    text-align: center;
    width: 33.3%;
    height: 33.3%;
    font-size: 4em;
    font-weight: 900;
}

@media (min-width: 768px) {
    .game-board {
        width: 450px;
        height: 450px;
    }
}